<div class="container">
    <div class="caixa-sessao-1">
        <img src="/assets/img/cat01.jpg" alt="">
        <img src="/assets/img/cat02.jpg" alt="">
        <img src="/assets/img/cat05.jpg"  alt="">
    </div>
    <div class="caixa-sessao-2">
        <img src="/assets/img/cat11.jpg" alt="">
        <img src="/assets/img/cat08.jpg" alt="">
    </div>
    <div class="caixa-sessao-3">
        <img src="/assets/img/cat04.jpg" alt="">
    </div>
    <div class="caixa-sessao-4">
        <img src="/assets/img/cat12.jpg" alt="">
        <img src="/assets/img/cat09.jpg" alt="">
        <img src="/assets/img/cat06.jpg" alt="">
    </div>
    <div class="caixa-sessao-5">
        <img src="/assets/img/cat03.jpg" alt="">
        <img src="/assets/img/cat13.jpg" alt="">
    </div>
    <div class="caixa-sessao-6">
        <img src="/assets/img/cat07.jpg" alt="">
    </div>
</div>


<footer>
     <p>Todos os direitos reservados©️</p>
</footer>